# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
Untitled.ipynb

# Data (не коммитим датасеты)
*.csv
*.zip
ml-latest-small/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
